.nextflow*
.conda_cache
/work/
/data/
/results/
.DS_Store
testing/
testing*
*.pyc
null/
run_grzqc_docker.sh
slurm*
grzqc_output/
.nf-test/
.nf-test.log
tests/output/*
reference*
tests/results*
grz-mini-test-data/*
