──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
run_grzqc_docker.sh