/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Test case senario: WES, tumor+germline. 2 samples tested, multi lane examples, fasta reference is being pulled. 

    Use as follows:
        nextflow run main.nf -profile test_sarek,<docker/singularity>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    submission_basepath = "${projectDir}/tests/data/test-datasets_sarek/"
    outdir = "${projectDir}/tests/results"
    thresholds = "${projectDir}/assets/default_files/thresholds.json"
    fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta"
    save_reference = true
}

process {
    withName: 'MOSDEPTH' {
        cpus = 2
        memory = 4.GB
        time = 2.h
    }
    withName: 'BWAMEM2_MEM' {
        cpus = 2
        memory = 4.GB
        time = 2.h
    }
    withName: 'BWAMEM2_INDEX' {
        cpus = 2
        memory = 4.GB
        time = 2.h
    }
}