/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Helps to download GRCh37 reference set, dont run it for testing purposes

    Use as follows:
        nextflow run main.nf -profile test_GRCh37,<docker/singularity>/conda

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function and save GRCh37 references'
    input = "${projectDir}/tests/data/test-datasets_sarek/samplesheet_WES_test.csv"
    outdir = "${projectDir}/tests/results"
    genome = "GRCh37"
    save_reference = true
}



