/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Test case senario: WGS, germline-only. No user given bed, 3 samples tested, one sample sequenced in two different flowcells,

    Use as follows:
        nextflow run main.nf -profile test_wgs,<docker/singularity>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    submission_basepath = "grz-mini-test-data/submissions/wgs"
    outdir = "${projectDir}/tests/results"
    thresholds = "${projectDir}/assets/default_files/thresholds.json"
    fasta = "grz-mini-test-data/references/GRCh37/mini.fa.gz"
    target = "grz-mini-test-data/references/GRCh37/mini.genes.bed"
}

process {
    withName: 'MOSDEPTH' {
        cpus = 2
        memory = 4.GB
        time = 2.h
    }
    withName: 'BWAMEM2_MEM' {
        cpus = 2
        memory = 4.GB
        time = 2.h
    }
    withName: 'BWAMEM2_INDEX' {
        cpus = 2
        memory = 4.GB
        time = 2.h
    }
}
