/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile grzqc,<docker/singularity> --outdir <OUTDIR> --input <INPUT_SAMPLESHEET.csv>

---------------------------------------------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Profile for GRZ QC'
    config_profile_description = 'Config defining pre built reference files for GRZ QC'
    bwa_index_37 = '/data/ceph/ssd/scratch/tmp/wayu0/grz_qc_workflow/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/version0.6.0/'
    fasta_37 = '/data/ceph/ssd/scratch/tmp/wayu0/grz_qc_workflow/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa'
    bwa_index_38 = '/data/ceph/ssd/scratch/tmp/wayu0/grz_qc_workflow/Homo_sapiens/UCSC/hg38/Sequence/BWAIndex/version0.6.0/'
    fasta_38 = '/data/ceph/ssd/scratch/tmp/wayu0/grz_qc_workflow/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa'
    rep_genes_hg19 = '/data/ceph/ssd/scratch/tmp/wayu0/grz_qc_workflow/hg19_439_omim_genes.bed'
    rep_genes_hg38 = '/data/ceph/ssd/scratch/tmp/wayu0/grz_qc_workflow/hg38_440_omim_genes.bed'
    thresholds_json = '/data/ceph/ssd/scratch/tmp/wayu0/grz_qc_workflow/thresholds.json'
}
