/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile grzqc,<docker/singularity> --outdir <OUTDIR> --input <INPUT_SAMPLESHEET.csv>

---------------------------------------------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Profile for GRZ QC'
    config_profile_description = 'Config defining pre built reference files for GRZ QC'
    bwa_index_37 = <PATH_TO_BWAIndex_GRCh37>
    fasta_37 = <PATH_TO_fasta_file_GRCh37>
    bwa_index_38 = <PATH_TO_BWAIndex_GRCh38>
    fasta_38 = <PATH_TO_fasta_file_GRCh37>
    
}
