/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: BWAMEM2_MEM {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            enabled: false
        ]
    }
    withName: BWAMEM2_INDEX_HG38 {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path:"${params.outdir}/references/GRCh38",
            mode: params.publish_dir_mode
        ]
    }
    withName: BWAMEM2_INDEX_HG37 {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path:"${params.outdir}/references/GRCh37",
            mode: params.publish_dir_mode
        ]
    }
    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            enabled: false
        ]
    }
    withName: SAMTOOLS_INDEX {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            enabled: false
        ]
    }
    withName: CAT_FASTQ {
        publishDir = [
            enabled: false
        ]
    }
    withName: FASTP {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PICARD_ADDORREPLACEREADGROUPS_37' {
        ext.args =  { [
            "--VALIDATION_STRINGENCY LENIENT",
            "--RGLB lib",
            "--RGPL platform",
            "--RGPU barcode",
            "--RGSM ${meta.id}",
            "--TMP_DIR ."
            ].join(' ').trim() }
        // publishDir = [
        //     mode: params.publish_dir_mode,
        //     path: { "${params.outdir}/preprocessing/markduplicates/${meta.id}/" },
        //     pattern: "*{cram,crai}",
        //     saveAs: { !params.save_output_as_bam ? it : null }
        // ]
    }
    withName: 'PICARD_ADDORREPLACEREADGROUPS_38' {
        ext.args =  { [
            "--VALIDATION_STRINGENCY LENIENT",
            "--RGLB lib",
            "--RGPL platform",
            "--RGPU barcode",
            "--RGSM ${meta.id}",
            "--TMP_DIR ."
            ].join(' ').trim() }
    }
    withName: 'PICARD_MARKDUPLICATES_37' {
        ext.prefix = { "${meta.id}.md" }
        ext.args   = { '--CREATE_INDEX' }
        publishDir = [
            path:"${params.outdir}/picard/",
            mode: params.publish_dir_mode,
            pattern: "*{bam,bai}",
        ]

        //   ext.prefix = { "${meta.id}_sorted_merged_md_shifted" }
    }
    withName: 'PICARD_MARKDUPLICATES_38' {
        ext.prefix = { "${meta.id}.md" }
        ext.args   = { '--CREATE_INDEX' }
        publishDir = [
            path:"${params.outdir}/picard/",
            mode: params.publish_dir_mode,
            pattern: "*{bam,bai}",
        ]

        //   ext.prefix = { "${meta.id}_sorted_merged_md_shifted" }
    }
    withName: 'GATK4SPARK_MARKDUPLICATES_37' {
        ext.args   = { '--remove-sequencing-duplicates false -VS LENIENT' }
        ext.prefix = { "${meta.id}.md.bam" }
        publishDir = [
            path:"${params.outdir}/gatk4spark/",
            mode: params.publish_dir_mode,
            pattern: "*{bam,bai}"
        ]
    }
    withName: 'GATK4SPARK_MARKDUPLICATES_38' {
        ext.args   = { '--remove-sequencing-duplicates false -VS LENIENT' }
        ext.prefix = { "${meta.id}.md.bam" }
        publishDir = [
            path:"${params.outdir}/gatk4spark/",
            mode: params.publish_dir_mode,
            pattern: "*{bam,bai}"
        ]
    }
    
    withName: MOSDEPTH {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path:"${params.outdir}/results/mosdepth/",
            pattern: "*{.bed.gz,.summary.txt}",
            mode: params.publish_dir_mode
        ]
    }
    withName: CONVERT_BED_CHROM {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            enabled: false
        ]
    }
    withName: COMPARE_THRESHOLD {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path:"${params.outdir}/results/compare_threshold/",
            pattern: "*{.csv}",
            mode: params.publish_dir_mode
        ]
    }
    withName: MERGE_REPORTS {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path:"${params.outdir}/results",
            pattern: "*{.csv,.xlsx}",
            mode: params.publish_dir_mode
        ]
    }
}
