/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: BWAMEM2_MEM {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            enabled: false
        ]
    }
    withName: BWAMEM2_INDEX {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path:"${params.outdir}/references/",
            mode: params.publish_dir_mode
        ]
    }
    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            enabled: false
        ]
    }
    withName: SAMTOOLS_INDEX {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            enabled: false
        ]
    }
    withName: CAT_FASTQ {
        publishDir = [
            enabled: false
        ]
    }
    withName: FASTP {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MOSDEPTH {
        ext.prefix = { "${meta.id}.whole" }
        publishDir = [
            path:"${params.outdir}/results/mosdepth/whole/",
            pattern: "*{.summary.txt}",
            mode: params.publish_dir_mode
        ]
    }
    withName: MOSDEPTH_TARGET {
        ext.prefix = { "${meta.id}.target_genes" }
        publishDir = [
            path:"${params.outdir}/results/mosdepth/target_genes/",
            pattern: "*{.bed.gz,.summary.txt}",
            mode: params.publish_dir_mode
        ]
    }
    withName: COMPARE_THRESHOLD {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path:"${params.outdir}/results/compare_threshold/",
            pattern: "*{.csv}",
            mode: params.publish_dir_mode
        ]
    }
    withName: MERGE_REPORTS {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path:"${params.outdir}/results",
            pattern: "*{.csv}",
            mode: params.publish_dir_mode
        ]
    }
}
