/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    input = "${projectDir}/tests/data/samplesheet_panel.csv"
    fasta_37 = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta"
    fasta_38 = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta"
    rep_genes_hg19 = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/sarek/testdata/target.bed'
    rep_genes_hg38 = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/sarek/testdata/target.bed'
    //bwa_index_38 = "/Users/w620-admin/Desktop/GHGA/GRZ_QC_Workflow/grzqc_output/references/GRCh38/bwamem2"
    //bwa_index_37 = "/Users/w620-admin/Desktop/GHGA/GRZ_QC_Workflow/grzqc_output/references/GRCh37/bwamem2"

}
withName: '*MOSDEPTH*' {
    cpus = 2
    memory = 6.GB
    time = 2.h
}
withName: 'BWAMEM2_MEM' {
    cpus = 2
    memory = 6.GB
    time = 2.h
}
