/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_GRCh38,<docker/singularity>/conda --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function  and save GRCh38 references'
    input = "${projectDir}/tests/data/samplesheet_WES_test.csv"
    outdir = "${projectDir}/tests/results"
    genome = "GRCh38"
    save_reference = true
    save_reference_path = "${projectDir}"
}
withName: 'MOSDEPTH' {
    cpus = 2
    memory = 4.GB
    time = 2.h
}
